.btn-blue {
	background-color: #1B9AAA;
	padding: 15px 20px;
	border-radius: 6px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.btn-blue:hover {
	background-color: black;
	color: white;

}
